
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bulma/bulma.sass";


html{
	body{
		a:hover {
			text-decoration: none;
			color: #00d1b2;
		}
		height: 100%;
		   width: 100%;
		   margin: 0;
		   padding: 0;
		#app{
		position: relative;
		height:100%;

		}

		.nav {
		box-shadow:  0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		}

		.no-shadow-box {
		box-shadow: none;
		}

		.no-border-radius {
		border-radius: 0;
		}

		div.index {
		padding-top: 65px;
			.sticky-section {
			background-color: transparent;
			padding: 0;
			position: fixed;
			z-index: 10;
			top: 50px;
			left: 0;
			width: 100%;
		}

		.login-section {
			background-color: transparent;
			margin-top: 50px;
		}
		footer.section {
			padding: 0;
			margin-top: 5rem;
		}
	}
}
}

.voting-buttons {
	button {
		margin-right: 7px;
		margin-top: 7px;
	}
	
}